<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309644002856-16s7can193l21s7cd77uips4jui6473c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309644002856-16s7can193l21s7cd77uips4jui6473c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>309644002856-jaise2rc6or4k7fu2ek4joqdhe85v48k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBvREOgvCEtPAcHhZjvZOZkSAwZCmaQ3A4</string>
	<key>GCM_SENDER_ID</key>
	<string>309644002856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.depo.apps.depoAntrianDireksi</string>
	<key>PROJECT_ID</key>
	<string>depo-bangunan-ced0b</string>
	<key>STORAGE_BUCKET</key>
	<string>depo-bangunan-ced0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309644002856:ios:557b573e5b34c9107d971d</string>
	<key>DATABASE_URL</key>
	<string>https://depo-bangunan-ced0b-default-rtdb.firebaseio.com</string>
</dict>
</plist>