<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkuokIr12Hn_EOz12LsCPckqvpcFOlABw</string>
	<key>GCM_SENDER_ID</key>
	<string>1026822250548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.depo.apps.antriandireksi</string>
	<key>PROJECT_ID</key>
	<string>antriandireksi</string>
	<key>STORAGE_BUCKET</key>
	<string>antriandireksi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026822250548:ios:d7929a42fccda9f878aa61</string>
</dict>
</plist>